<html>
<head>
    <title>linkPad2 - Alpha</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>

</body>
    <h2><a href="/">linkPad2 Alpha</a></h2>
    <form action="/search">
    	<input type='text' placeholder="searching" name="q"/>	
    </form>

    <ul id="links">
    	{% for link in links %}
    	    <li id="{{link.id}}">{{link.linkTitle}}<a class="editLink" href="/edit/?id={{link.id}}">(edit)</a></br><a target="_blank" href="{{link.linkURL}}">{{link.linkURL}}</a></li>    	    	
    	{% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if links.has_previous %}
                <a href="?{% if params.q %}q={{params.q}}&{% endif %}page={{ links.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ links.number }} of {{ links.paginator.num_pages }}
            </span>

            {% if links.has_next %}
                <a href="?{% if params.q %}q={{params.q}}&{% endif %}page={{ links.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

    <!--bookmarklet code-->
    <p style="font-size:8px;"><a href='javascript:(function(){window.location="http://162.243.93.130:8002/add/?url="+document.URL;})();'>bookmarklet code</a></p>
</body>
</html>