<html>
<head>
    <title>linkPad2 - Alpha</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <script type="text/javascript" src="/static/js/main.js"></script>
</head>

</body>
    <h2><a href="/">linkPad2 Alpha</a></h2>
    
    {{message}}

    <!--bookmarklet code-->
    <p style="font-size:8px;"><a href='javascript:(function(){window.location="http://162.243.93.130:8002/add/?url="+document.URL;})();'>bookmarklet code</a></p>
</body>
</html>